h1{
    text-align: center;
}

.col-1{
float: left;
width: 30%;

}

h2{
    color:darkgreen;
    background-color: crimson;
    font: 20px ;
    position:sticky;
    top: 0;
    left: 0;
}

table{
margin-left: 10px;
border: 1px solid blue;
}

th{
    background-color: darkgray;
}

th:nth-child(1){
    width: 10%;
}

th:nth-child(1){
    width: 15%;
}

th:nth-child(1){
    width:30% ;
}

th:nth-child(1){
    width: 5%;
}

tr{
    background-color: aquamarine;
}

.sign{

    float: right;
    text-transform:uppercase;
}

